In [1]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

# Example data
df = pd.DataFrame({
    'age': [25, 32, 47, 51, 62],
    'income': [50000, 64000, 120000, 110000, 150000]
})

scaler = MinMaxScaler()
normalized = scaler.fit_transform(df)

normalized_df = pd.DataFrame(normalized, columns=df.columns)
print(normalized_df)

        age  income
0  0.000000    0.00
1  0.189189    0.14
2  0.594595    0.70
3  0.702703    0.60
4  1.000000    1.00

In [2]:
df

   age  income
0   25   50000
1   32   64000
2   47  120000
3   51  110000
4   62  150000